
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h1>Customer</h1>

<!DOCTYPE html>
<html>
<body>

    <h2>Basic HTML Table</h2>

    <table style="width:100%">
        <tr>
            <th>CustomerId</th>
            <th>cust_name</th>
            <th>Cst_city</th>
            <th>email</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ambica</td>
            <td>san Fransisco</td>
            <td>Ambica@gmail.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Teju</td>
            <td>mexico</td>
            <td>Teju@gmail.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Vishnu</td>
            <td>NewYork</td>
            <td>Vishnu@gmail.com</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Hrithik</td>
            <td>Nashville</td>
            <td>Hrithik@gmail.com</td>
        </tr>
    </table>

</body>
</html>
